.container {
    max-width: 100% !important;
    padding-right: 0;
    padding-left: 0;
    margin-top: 38px;
    padding-top: 0;
}

.row {
    margin-right: 0;
}

@media screen and (max-width: 445px) {
    .container {
        max-width: 100% !important;
        padding-right: 15px;
        padding-left: 15px;
        margin-top: 105px;
    }
    .row {
        margin-right: -15px;
    }
}

@media screen and (min-width: 446px) and (max-width: 767px) {
    .container {
        max-width: 100% !important;
        padding-right: 15px;
        padding-left: 15px;
        margin-top: 58px;
    }
    .row {
        margin-right: -15px;
    }
}