<div class="container-fluid footer-padding footer">
        <div class="row footer-logo">
                <div class="col-md-12">
                        <img src="../../../assets/images/searchBangla350x70.png" alt="" height="80" width="100%">
              
                </div>
                 
        </div>
 
  

        <div class="row">
                <div class="col-md-12 col-sm-12 menu menu-foot">
                        <a class="social-icon" href="#"><img alt="Twitter" title="Twitter" src="https://public-assets.envato-static.com/assets/header-footer/social/twitter-eb1c91b55d0de5dc2531864ca586dfd126f47265a6a2ac45eaf42ecfec1d80fe.svg"></a>
                        <a class="social-icon" href="#"><img alt="Facebook" title="Facebook" src="https://public-assets.envato-static.com/assets/header-footer/social/facebook-6999049d3775a8a8707c857da80446b19ffc0a01c35d13b74517100844ff3faa.svg"></a>
                        <a class="social-icon" href="#"><img alt="YouTube" title="YouTube" src="https://public-assets.envato-static.com/assets/header-footer/social/youtube-b1b0afe6502def949dbef299d02d5d9f594e49f8fafcdf0d7ae10a118a086b67.svg"></a>
                        <a class="social-icon" href="#"><img alt="Instagram" title="Instagram" src="https://public-assets.envato-static.com/assets/header-footer/social/instagram-fc36708c12541f7b4a0b25cc4d5626226ceac438010037288b2be588fcadbce3.svg"></a>
                        <a class="social-icon" href="#"><img alt="Pinterest" title="Pinterest" src="https://public-assets.envato-static.com/assets/header-footer/social/pinterest-11a3028152735b2ab34c786404e1c8395c58ba9beb47f39fd67b2dc8a788f836.svg"></a>
                        <br><br>
                </div>
        
                
        </div>
        
        <br>
        <div class="row menu menu-foot">
                
                <div class="copy-right">
                        <span>All prices are in US dollars</span> <br><br>
                        <span>Copyright © 2018. All Rights Reserved by Searchbangla.com</span>
                </div>
                
        </div>
</div>
