<section class="container">
    <div class="skill-set-div">
        <h4>premium</h4>
        <h3>You have 5 of the top skills among applicants, find the 5 missing skills</h3>
        <p class="skill-set">
            <span>C</span>
            <span>C++</span>
            <span>HTML</span>
            <span>+2 more</span>
        </p>
        <div class="skill-bar clearfix">
            <div class="single-bar-filled float-left"></div>
            <div class="single-bar-filled float-left"></div>
            <div class="single-bar-filled float-left"></div>
            <div class="single-bar-filled float-left"></div>
            <div class="single-bar-filled float-left"></div>
            <div class="single-bar float-left"></div>
            <div class="single-bar float-left"></div>
            <div class="single-bar float-left"></div>
            <div class="single-bar float-left"></div>
            <div class="single-bar float-left"></div>
            <button class="btn float-right" [routerLink]="['/free-trial']">Upgrade for free</button>
        </div>
    </div>
</section>