<section class="container">
  <h2 class="heading">Pricing</h2>
  <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-4">
          <div class="price-holder">
              <div class="price">
                  <h2><span>$</span>200<span>/mo</span></h2>
                  <span class="type">BUSINESS</span>
              </div>
              <div class="feature">
                  <p>2 GB Bandwidth</p>
                  <p>5 GB Disk Space</p>
                  <p>5 Databases</p>
                  <p>Free Domain</p>
                  <p>5 Subdomain</p>
                  <hr>
                  <button class="btn">PURCHASE</button>
              </div>
          </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4">
          <div class="price-holder">
              <div class="price">
                  <h2><span>$</span>200<span>/mo</span></h2>
                  <span class="type">JOBS</span>
              </div>
              <div class="feature">
                  <p>∞ Bandwidth</p>
                  <p>∞ Disk Space</p>
                  <p>∞ Databases</p>
                  <p>Free Domain</p>
                  <p> ∞ Subdomain</p>
                  <hr>
                  <button class="btn">PURCHASE</button>
              </div>
          </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4">
          <div class="price-holder">
              <div class="price">
                  <h2><span>$</span>200<span>/mo</span></h2>
                  <span class="type">NEWS</span>
              </div>
              <div class="feature">
                  <p>5 GB Bandwidth</p>
                  <p>25 GB Disk Space</p>
                  <p>10 Databases</p>
                  <p>Free Domain</p>
                  <p>15 Subdomain</p>
                  <hr>
                  <button class="btn">PURCHASE</button>
              </div>
          </div>
      </div>
  </div>
</section>