<div class="review-holder">
        <div class="row">
            <div class="col-sm-5 col-md-5">
                <div>
                    <div class="pro-pic">
                        <a href="#">
                            <img src="../../../assets/images/pro-pic.jpg" alt="pro-pic">
                        </a>
                    </div>
                    <ul class="user-story">
                        <li>
                            <a href="#">Natalie M.</a>
                        </li>
                        <li><b>San Francisco, CA</b></li>
                        <li id="friends">
                            <span><b>595</b> friends </span>
                        </li>
                        <li id="user-reviews">
                            <span><b>22</b> reviews </span>
                        </li>
                        <li id="user-photos">
                            <span><b>36</b> photos </span>
                        </li>
                    </ul>
                    <ul class="action-list">
                        <li id="share">
                            <p><a href="#">Share review</a></p>
                        </li>
                        <li id="embed">
                            <p><a href="#">Embed review</a></p>
                        </li>
                        <li id="compliment">
                            <p><a href="#">Compliment</a></p>
                        </li>
                        <li id="message">
                            <p><a href="#">Send message</a></p>
                        </li>
                        <li id="follow">
                            <p><a href="#">Follow Natalie M.</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-7 col-md-7">
                <div class="rating">
                    <i class="fas fa-star box"></i>
                    <i class="fas fa-star box"></i>
                    <i class="fas fa-star box"></i>
                    <i class="fas fa-star-half-alt box"></i>
                    <i class="fas fa-star box box-gray"></i>
                    <span>17/02/18</span>
                </div>
                <div class="check-in">
                    <p>2 check-ins</p>
                </div>
                <div class="review">
                    <p>Visited Sun, Mar 4 2017 @ 1:00PM </p>
                    <p>We ordered... Appetizers: Curly Fries, California Roll, Fire Wings Main Meals: Spicy Pork, Spicy Soft Tofu Soup (added ramen!) ...and spent: ~$37 per person vice: Awesome, friendly staff - super patient with recommendations Vibe: Dim lighting,
                        drinking is acceptable, unique floor decor Good for: Late night drunchies Overall verdict: Would probably come back for late night munchies but order less next time.</p>
                    <p> Skipping the spicy pork (quite different than what we've had at other restaurants). Missed having Banchan.
                    </p>
                    <div class="row">
                        <div class="col-md-6 col-6">
                            <a href="#">
                                <img src="https://s3-media2.fl.yelpcdn.com/bphoto/EH7s7YJ8DsOuvAk_VbeW5A/168s.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-6 col-6">
                            <a href="#">
                                <img src="https://s3-media2.fl.yelpcdn.com/bphoto/EH7s7YJ8DsOuvAk_VbeW5A/168s.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <a href="#">See all photos from Cat N. for Joo Mak</a>
                </div>
                <div class="voting">
                    <p><a href="#">James R. and 33 others</a> voted for this review</p>
                    <button class="btn btn-default"><img src="../../../assets/images/idea.svg" alt=""> Usefull <span>30</span></button>
                    <button class="btn btn-default"><img src="../../../assets/images/smile.svg" alt=""> Funny <span>14</span></button>
                    <button class="btn btn-default"><img src="../../../assets/images/cool.svg" alt=""> Cool <span>5</span></button>
                </div>
            </div>
        </div>
    </div>