 <!---------------------------- 
          Category Section Start
    ---------------------------->
    <div class="category-section section-padding">
      <div class="container">
          <h3 class="section-titile">Browse Businesses by Category</h3>
          <div class="row">
              <div class="col-lg-3">
                  <div class="single-item">
                      <a href="#">
                          <div class="category-desc">
                              <img src="../../../assets/images/Restaurant-icon.png" alt="">
                              <h5>Restaurants</h5>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="single-item">
                      <a href="#">
                          <div class="category-desc">
                              <img src="../../../assets/images/Shopping.png" alt="">
                              <h5>Shopping</h5>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="single-item">
                      <a href="#">
                          <div class="category-desc">
                              <img src="../../../assets/images/Nightlife.png" alt="">
                              <h5>Nightlife</h5>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="single-item">
                      <a href="#">
                          <div class="category-desc">
                              <img src="../../../assets/images/active-life.png" alt="">
                              <h5>Active Life</h5>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="single-item">
                      <a href="#">
                          <div class="category-desc">
                              <img src="../../../assets/images/beauty-and-spa.png" alt="">
                              <h5>Beauty & Spas</h5>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="single-item">
                      <a href="#">
                          <div class="category-desc">
                              <img src="../../../assets/images/automotive.png" alt="">
                              <h5>Automotive</h5>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="single-item">
                      <a href="#">
                          <div class="category-desc">
                              <img src="../../../assets/images/homeservice.png" alt="">
                              <h5>Home Services</h5>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="single-item">
                      <a href="#">
                          <div class="category-desc">
                              <img src="../../../assets/images/more-category.png" alt="">
                              <h5>More Categories</h5>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!---------------------------- 
       / Category Section End
 ---------------------------->
