<div class="join-section section-padding">
    <div class="container">
        <h3 class="section-titile">Take your tech career to the next level.</h3>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="single-item">
                    <a href="#">
                        <div class="join-desc">
                            <img src="https://assets.dice.com/techpro/img/homepage/v2_img/ico_valueprop_2.png" alt="">
                            <h5>Get discovered by top employers</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="single-item">
                    <a href="#">
                        <div class="join-desc">
                            <img src="https://assets.dice.com/techpro/img/homepage/v2_img/ico_valueprop_5.png" alt="">
                            <h5>Receive custom job notifications</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="single-item">
                    <a href="#">
                        <div class="join-desc">
                            <img src="https://assets.dice.com/techpro/img/homepage/v2_img/ico_valueprop_4.png" alt="">
                            <h5>Access quick apply options</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="single-item">
                    <a href="#">
                        <div class="join-desc">
                            <img src="https://assets.dice.com/techpro/img/homepage/v2_img/ico_valueprop_3.png" alt="">
                            <h5>Create personalized salary estimates</h5>
                        </div>
                    </a>
                </div>
            </div>
           
        </div>
    </div>
</div>