<app-navbar></app-navbar>
<div class="navbar navbar-expand-md navbar-light bg-light">
    <nav>
        <ul class="navbar-nav">
            <li class="dropdown light-menu" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']">
                <a class="nav-link " [routerLink]="['/add-business']">Add business</a>
            </li>
            <!-- <li class="dropdown light-menu" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']">
                <a class="nav-link " [routerLink]="['/add-restaurant-menu']">Add restaurant menu</a>
            </li> -->
        </ul>
    </nav>
</div>