.card-shadow .card:hover {
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
}

.card-shadow .card {
  margin: 15px 0;
}

.title {
  text-align: center;
  color: rgb(24, 10, 182);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.border {
  border-radius: 5px;
}

.card-decoration {
  text-decoration: none;
}

div.sub {
  text-align: center;
  color: black;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  padding: 2px 2px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none
}

a:focus,
a:active {
  outline: 0
}

a:hover {
  text-decoration: none
}

.section-padding {
  padding-top: 5%;
  padding-bottom: 4%;
}

h3.section-titile {
  text-align: center;
  color: #343a40;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: 700;
}

.single-item {
  background: #fff;
  border-radius: 5px;
  transition: 0.2s;
  padding: 20px 0;
  text-align: center;
  border: 1px solid #ddd;
  margin: 15px 0;
}

.single-item:hover {
  border-color: #0073bb;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
}

.category-desc h5 {
  color: #222;
  font-weight: 700;
}