<!-- <app-add-jobs-navbar></app-add-jobs-navbar> -->
<app-jobs-navbar></app-jobs-navbar>

<!-- <app-job-career [jobData] = 'jobInfo'></app-job-career> -->
<app-employer [jobData] = 'jobInfo' [userData]="user"></app-employer>
<app-job-description [jobData] = 'jobInfo'></app-job-description>
<!-- <app-skill-set></app-skill-set>
<app-about-us [jobData] = 'jobInfo'></app-about-us> -->
<!-- <app-people-view-jobs  [similarJobsData] = 'similarJobsInfo'></app-people-view-jobs> -->
<app-similar-and-peopleview-jobs [similarJobsData] = 'similarJobsInfo'></app-similar-and-peopleview-jobs>
<app-footer></app-footer>
