<div class="main-body">
  <div class="container ">
    <div class="row">
      
      <div class="arrow-down">

      </div>
    </div>
    <div id="features-header">

      <br><br>
      <h2>Premium Career features</h2>
      <h3 class="features-subheader">Candidates with Premium Career get hired an average of <strong>2X</strong> as fast.</h3>
    </div>
    <br>
    <div class="container">
      <div class="row">          
        <div class="col-sm-12 col-md-10 m-auto col-lg-5 features">
          <div class="icon">
              <i class="far fa-envelope-open"></i>
          </div>
          <div class="discreaption">
              <h4>Direct messaging to recruiters</h4>
              <p>Reach out directly to any recruiter or job poster with 3 InMail credits</p>
          </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-sm-12 col-md-10 m-auto col-lg-5 features">
          <div class="icon">
              <i class="far fa-id-card"></i>
          </div>
          <div class="discreaption">
              <h4>Who’s Viewed Your Profile</h4>
              <p>See who’s viewed you in the last 90 days and how they found you</p>
          </div>
        </div>
      </div>
      <div class="row">              
        <div class="col-sm-12 col-md-10 m-auto col-lg-5 features">
          <div class="icon">
            <i class="fas fa-medal"></i>
          </div>
          <div class="discreaption">
            <h4>Featured Applicant</h4>
            <p>Stand out to recruiters when you apply as a featured applicant</p>
          </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-sm-12 col-md-10 m-auto col-lg-5 features">
          <div class="icon">
            <i class="far fa-credit-card"></i>
          </div>
          <div class="discreaption">
            <h4>Applicant Insights</h4>
            <p>See how you compare to other candidates</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-10 m-auto col-lg-5 features">
          <div class="icon">
            <i class="fas fa-video"></i>
          </div>
          <div class="discreaption">
            <h4>Online video courses</h4>
            <p>Get the most in-demand business, tech and creative skills taught by industry experts with LinkedIn Learning</p>
          </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-sm-12 col-md-10 m-auto col-lg-5 features">
          <div class="icon">
              <i class="fas fa-money-bill-alt"></i>
          </div>
          <div class="discreaption">
              <h4>Instant access to salary insights</h4>
              <p> See salary details when browsing jobs without sharing your personal data</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




