<div class="accordion">
    <!-- panel-group -->
    <div class="panel-group" id="accordion">
        <!-- panel -->
        <div class="panel panel-default panel-faq">
            <!-- panel-heading -->
            <div class="panel-heading">
                <div class="panel-title">
                    <a (click)="clicked($event)" data-toggle="collapse" data-parent="#accordion" href="#accordion-one" aria-expanded="false" class="collapsed">
                        <h4>Categories<span class="pull-right"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span></h4>
                    </a>
                </div>
            </div>
            <!-- panel-heading -->

            <div id="accordion-one" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                <!-- panel-body -->
                <div class="panel-body">
                    <ul>
                        <li><a href="#">Software Engineer <span>(129)</span></a></li>
                        <li><a href="#">Web Developer <span>(8342)</span></a></li>
                        <li><a href="#">Database Administrator <span>(782)</span></a></li>
                        <li><a href="#">Software Quality Analyst <span>(5247)</span></a></li>
                        <li><a href="#">Graphics Designer <span>(634)</span></a></li>
                        <li><a href="#">Android and IOS Developer <span>(453)</span></a></li>
                        <li><a href="#">Web Designer <span>(7986)</span></a></li>
                        <li><a href="#">Digital Marketing <span>(742)</span></a></li>
                        <li><a href="#">Assistant Manager <span>(149)</span></a></li>
                        <li><a href="#">Integration Engineer <span>(149)</span></a></li>
                        <li><a href="#">Railway Engineer <span>(149)</span></a></li>
                        <li><a href="#">Production Officer <span>(149)</span></a></li>
                        <li><a href="#">Business Planning Officer <span>(149)</span></a></li>
                        <li><a href="#">Business Analyst <span>(149)</span></a></li>
                        <li><a href="#">Social Media Marketing <span>(149)</span></a></li>
                        <li><a href="#">Finance Assistant <span>(149)</span></a></li>
                        <li><a href="#">Executive Counsellor <span>(149)</span></a></li>
                        <li><a href="#">HR Officer <span>(149)</span></a></li>
                        <li><a href="#">Receptionist <span>(149)</span></a></li>
                        <li><a href="#">Business Development Specialist <span>(149)</span></a></li>
                        <li><a href="#">Production Officer <span>(149)</span></a></li>
                        <li><a href="#">Reporter <span>(149)</span></a></li>
                        <li><a href="#">Assistant Construction Engineer <span>(149)</span></a></li>
                   
                   
                    </ul>
                </div>
                <!-- panel-body -->
            </div>
        </div>
        <!-- panel -->

        <!-- panel -->
        <!-- <div class="panel panel-default panel-faq">
        
            <div class="panel-heading">
                <div class="panel-title">
                    <a (click)="clicked($event)" data-toggle="collapse" data-parent="#accordion" href="#accordion-two" class="collapsed" aria-expanded="false">
                        <h4>Date Posted <span class="pull-right"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span></h4>
                    </a>
                </div>
            </div>
           

            <div id="accordion-two" class="panel-collapse collapse" aria-expanded="false">
            
                <div class="panel-body">
                    <label for="today"><input type="checkbox" name="today" id="today"> Today</label>
                    <label for="7-days"><input type="checkbox" name="7-days" id="7-days"> 7 days</label>
                    <label for="30-days"><input type="checkbox" name="30-days" id="30-days"> 30 days</label>
                </div>
            
            </div>
        </div> -->
        <!-- panel -->

        <!-- panel -->
        <div class="panel panel-default panel-faq">
            <!-- panel-heading -->
            <div class="panel-heading">
                <div class="panel-title">
                    <a (click)="clicked($event)" data-toggle="collapse" data-parent="#accordion" href="#accordion-four" class="collapsed" aria-expanded="false">
                        <h4>Employment Type<span class="pull-right"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span></h4>
                    </a>
                </div>
            </div>
    

            <div id="accordion-four" class="panel-collapse collapse" aria-expanded="false">
            
                <div class="panel-body">
                    <label for="full-time"><input type="checkbox" name="full-time" id="full-time"> Full Time</label>
                    <label for="part-time"><input type="checkbox" name="part-time" id="part-time"> Part Time</label>
                    <!-- <label for="contractor"><input type="checkbox" name="contractor" id="contractor"> Contractor</label> -->
                    <label for="intern"><input type="checkbox" name="intern" id="intern"> Intern</label>
                    <!-- <label for="seasonal"><input type="checkbox" name="seasonal" id="seasonal"> Seasonal / Temp</label> -->
                </div>
            </div>
        </div>

        <!-- panel -->
        <!-- <div class="panel panel-default panel-faq">
            <div class="panel-heading">
                <div class="panel-title">
                    <a (click)="clicked($event)" data-toggle="collapse" data-parent="#accordion" href="#accordion-five" class="collapsed" aria-expanded="false">
                        <h4>Experience Level<span class="pull-right"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span></h4>
                    </a>
                </div>
            </div>

            <div id="accordion-five" class="panel-collapse collapse" aria-expanded="false">
                <div class="panel-body">
                    <label for="training"><input type="checkbox" name="training" id="training"> Training</label>
                    <label for="entry-level"><input type="checkbox" name="entry-level" id="entry-level"> Entry Level</label>
                    <label for="mid-senior"><input type="checkbox" name="mid-senior" id="mid-senior"> Mid-Senior Level</label>
                    <label for="top-level"><input type="checkbox" name="top-level" id="top-level"> Top Level</label>
                </div>
            </div>
        </div> -->
        <!-- panel -->

        <!-- panel -->
        <div class="panel panel-default panel-faq">
            <div class="panel-heading">
                <div class="panel-title"></div>
                <a (click)="clicked($event)" data-toggle="collapse" data-parent="#accordion" href="#accordion-six" class="collapsed" aria-expanded="false">
                    <h4>Company<span class="pull-right"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span></h4>
                </a>
            </div>

            <div id="accordion-six" class="panel-collapse collapse" aria-expanded="false">
                <div class="panel-body">
                    <label for="apple"><input type="checkbox" name="apple" id="apple"> Apple</label>
                    <label for="dropbox"><input type="checkbox" name="dropbox" id="dropbox"> Dropbox</label>
                    <label for="micromax"><input type="checkbox" name="micromax" id="micromax"> Micromax</label>
                    <label for="nokia"><input type="checkbox" name="nokia" id="nokia"> Nokia</label>
                    <label for="microsoft"><input type="checkbox" name="microsoft" id="microsoft"> Microsoft</label>
                    <label for="samsung"><input type="checkbox" name="samsung" id="samsung"> Samsung</label>
                </div>
            </div>
        </div>
        <!-- panel -->

        <!-- panel -->
        <div class="panel panel-default panel-faq">
            <div class="panel-heading">
                <div class="panel-title">
                    <a (click)="clicked($event)" data-toggle="collapse" data-parent="#accordion" href="#accordion-seven" class="collapsed" aria-expanded="false">
                        <h4>Location<span class="pull-right"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span></h4>
                    </a>
                </div>
            </div>

            <div id="accordion-seven" class="panel-collapse collapse" aria-expanded="false">
                <div class="panel-body">
                    <label for="Dhaka Division"><input type="checkbox" name="Dhaka Division" id="Dhaka Division"> Dhaka Division</label>
                    <label for="Chittagong Division"><input type="checkbox" name="Chittagong Division" id="Chittagong Division"> Chittagong Division</label>
                    <label for="Rajshahi Division"><input type="checkbox" name="Rajshahi Division" id="Rajshahi Division"> Rajshahi Division</label>
                    <label for="Khulna Division"><input type="checkbox" name="Khulna Division" id="Khulna Division"> Khulna Division</label>
                    <label for="Sylhet Division"><input type="checkbox" name="Sylhet Division" id="Sylhet Division"> Sylhet Division</label>
                    <label for="Rangpur Division"><input type="checkbox" name="Rangpur Division" id="Rangpur Division"> Rangpur Division</label>
                    <label for="Barishal Division"><input type="checkbox" name="Barishal Division" id="Barishal Division"> Barishal Division</label>
                    <label for="Mymensingh Division"><input type="checkbox" name="Mymensingh Division" id="Mymensingh Division"> Mymensingh Division</label>
                    <label for="Anywhere"><input type="checkbox" name="Anywhere" id="Anywhere"> Anywhere</label>

                </div>
            </div>
        </div>
        <!-- panel -->

    </div>
    <!-- panel-group -->
</div>