<section class="search-bar-holder clear-fix">
    <div class="logo d-inline-block">
        <a href=""><img src="../../../../assets/images/SearchBangla.png" alt=""></a>
    </div>
    <div class="float-right d-inline-block">
        <!-- <button class="btn"><i class="fas fa-bars"></i></button> -->
        <form>
            <input type="text" placeholder="Search...">
            <button class="btn submit-btn" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</section>