  <!---------------------------- 
          Featured Section Start
    ---------------------------->
    <div class="featured-section section-padding">
      <div class="container">
          <div class="row">
              <div class="col-lg-4">
                  <div class="single-item">
                      <a [routerLink]="['/jobs']">
                          <div class="featured-bd featured-bd-1"></div>
                          <div class="desc">
                              <h3>Jobs</h3>
                              <!-- <h3>Deliver better projects faster. <br> Photos, templates & courses</h3> -->
                              <!-- <span>Unlimited downloads. Only $29/month</span> -->
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="single-item">
                      <a [routerLink]="['/business']">
                          <div class="featured-bd featured-bd-2"></div>
                          <div class="desc">
                              <h3>Businesses</h3>
                              <!-- <h3>Learn almost anything with<br> Envato Tuts+ for free</h3>
                              <span>25,000+ tutorials and 1,000+ courses</span> -->
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="single-item">
                      <a [routerLink]="['/news']">
                          <div class="featured-bd featured-bd-3"></div>
                          <div class="desc">
                              <h3>News</h3>
                              <!-- <h3>Designers matched perfectly to <br> you on Envato Studio</h3>
                              <span>2000 artists ready to undertake your work</span> -->
                          </div>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!---------------------------- 
       / Featured Section End
 ---------------------------->
