<!-- <div class="social-feed-box container">
    <div class="row">
        <div class="col-md-8">
            <div class="title">
                <h5>News Title</h5>
            </div>
            <div class="media-body">
                <p>Description... Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid enim libero maxime sit quaerat quae officia tempora odit magnam assumenda quasi a recusandae reiciendis mollitia alias ut in esse, quos odio commodi. Rerum
                    animi illo quo laudantium maxime, odio nihil corrupti dolor libero iste necessitatibus quos suscipit dignissimos, tempora provident.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pull-right">
                <a (click)="deleteBusiness(business)" class="btn btn-primary edt-btn">Delete</a>
                <span> &nbsp; </span>
                <a (click)="editBusiness(business)" [routerLink]="['/update-business']" class="btn btn-primary edt-btn">Edit</a>
            </div>
        </div>
    </div>
</div> -->