<!-- <div class="social-feed-box container">
    <div class="row">
        <div class="col-md-8">
            <div class="title">
                <h5>Account Information</h5>
            </div>
            <div class="media-body">
                <a href="#">Company Name</a><br>
                <small class="text-muted">size</small> <br>
                <small class="text-muted">person name</small> <br>
                <small class="text-muted">phone number</small> <br>
                <small class="text-muted">current role</small> <br>
                <br>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pull-right">
                <a (click)="deleteBusiness(business)" class="btn btn-primary edt-btn">Delete</a>
                <span> &nbsp; </span>
                <a (click)="editBusiness(business)" [routerLink]="['/update-business']" class="btn btn-primary edt-btn">Edit</a>
            </div>
        </div>
    </div>
</div> -->