<section class="hot-new-business">
<div class="container">
  <div class="row">
      <div class="col-sm-12">
        <h6 class="heading text-center">Hot & New Businesses</h6>
      </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="width: 300pxm; height: 400px;">
        <img height="180" width="auto" src="https://s3-media3.fl.yelpcdn.com/bphoto/-laLvSYJOnjujlhXE5xTtA/l.jpg">
        <div class="card-body">
          <h6 class="card-title"><a href="">Violet’s</a></h6>
          <p class="card-text"><i class="fas fa-star box"></i><i class="fas fa-star box"></i><i class="fas fa-star box"></i><i class="fas fa-star box"></i><i class="fas fa-star-half-alt box"></i><span class="review">23 reviews</span></p>
          <p>$$  Cocktail Bars, Wine Bars, Seafood Outer Richmond</p>
          <p class="oppened"><i class="fab fa-gripfire fire"></i> Opened 4 weeks ago</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card" style="width: 300pxm; height: 400px;">
        <img height="180" width="auto" src="https://s3-media1.fl.yelpcdn.com/bphoto/VGTRFAepNSWm8FXhFJZ09g/l.jpg">
        <div class="card-body">
          <h6 class="card-title"><a href="">Mixt</a></h6>
          <p class="card-text"><i class="fas fa-star box"></i><i class="fas fa-star box"></i><i class="fas fa-star box"></i><i class="fas fa-star box"></i><i class="fas fa-star box box-gray"></i><span class="review">16 reviews</span></p>
          <p>$$  Salad, American (New), Vegan Mission</p>
          <p class="oppened"><i class="fab fa-gripfire fire"></i> Opened 7 weeks ago</p>
        </div>
      </div>
    </div>
    


    <div class="col-sm-4">
      <div class="card" style="width: 300pxm; height: 400px;">
        <img height="180" width="auto" src="https://s3-media2.fl.yelpcdn.com/bphoto/3nn63PyytWDX3O7792-Tvg/l.jpg">
        <div class="card-body">
          <h6 class="card-title"><a href="">Gourmonade</a></h6>
          <p class="card-text"><i class="fas fa-star box"></i><i class="fas fa-star box"></i><i class="fas fa-star box"></i><i class="fas fa-star box"></i><i class="fas fa-star box"></i><span class="review">12 reviews</span></p>
          <p>Juice Bars & Smoothies Mission</p><br>
          <p class="oppened"><i class="fab fa-gripfire fire"></i> Opened a few days ago</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>